<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage cacheDirectory=".phpunit.cache/code-coverage" processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <report>
      <clover outputFile="clover.xml" />
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Kassa Test Suite">
        <directory suffix="Case.php">./tests/</directory>
    </testsuite>
  </testsuites>
  <!-- <logging> -->
  <!-- <log type="coverage-clover" target="_reports/logs/clover.xml"/> -->
  <!-- <log type="coverage-html" target="_reports/coverage"/> -->
  <!-- </logging> -->
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="CACHE_DRIVER" value="array"/>
    <env name="SESSION_DRIVER" value="array"/>
    <env name="QUEUE_DRIVER" value="sync"/>
    <env name="MAIL_DRIVER" value="log"/>
    <env name="APP_KEY" value="base64:3C9KfOaOcPQCwHFulCN08+8cOYPCIgZq13YJP7dnOS0="/>
    <env name="HMAC_BCRYPT_PEPPER" value="test-pepper" />
    <env name="HMAC_BCRYPT_ROUNDS" value="13" />
  </php>
</phpunit>